:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

[data-theme="dark"] body {
  background-color: #0d0d0d;
}